body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:657px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:657px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u827 {
  position:absolute;
  left:2px;
  top:320px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:0px;
  top:49px;
  touch-action:none;
}
#u828_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u828_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u829 {
  position:absolute;
  left:7px;
  top:80px;
  width:37px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u830 {
  position:absolute;
  left:0px;
  top:12px;
  width:37px;
  white-space:nowrap;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u831 {
  position:absolute;
  left:0px;
  top:120px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u833 {
  position:absolute;
  left:7px;
  top:200px;
  width:37px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u834 {
  position:absolute;
  left:0px;
  top:12px;
  width:37px;
  white-space:nowrap;
}
#u835 {
  position:absolute;
  left:88px;
  top:202px;
  width:201px;
  height:38px;
}
#u835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u836 {
  position:absolute;
  left:0px;
  top:160px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u838 {
  position:absolute;
  left:0px;
  top:241px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u839 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u840 {
  position:absolute;
  left:7px;
  top:160px;
  width:25px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u841 {
  position:absolute;
  left:0px;
  top:12px;
  width:25px;
  white-space:nowrap;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u842 {
  position:absolute;
  left:0px;
  top:200px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u843 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:191px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u844 {
  position:absolute;
  left:0px;
  top:576px;
  width:320px;
  height:191px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u845 {
  position:absolute;
  left:2px;
  top:88px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u846 {
  position:absolute;
  left:0px;
  top:536px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u848 {
  position:absolute;
  left:7px;
  top:536px;
  width:304px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u849 {
  position:absolute;
  left:0px;
  top:12px;
  width:304px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u850 {
  position:absolute;
  left:0px;
  top:576px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852 {
  position:absolute;
  left:88px;
  top:80px;
  width:232px;
  height:40px;
}
#u852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u852_input:disabled {
  color:grayText;
}
#u853 {
  position:absolute;
  left:88px;
  top:160px;
  width:232px;
  height:40px;
}
#u853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u853_input:disabled {
  color:grayText;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u854 {
  position:absolute;
  left:299px;
  top:546px;
  width:11px;
  height:20px;
  color:#FFFFFF;
}
#u855 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u858 {
  position:absolute;
  left:7px;
  top:0px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u859 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u860 {
  position:absolute;
  left:0px;
  top:79px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u862 {
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u864 {
  position:absolute;
  left:7px;
  top:40px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u865 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u866 {
  position:absolute;
  left:88px;
  top:0px;
  width:232px;
  height:40px;
}
#u866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u866_input:disabled {
  color:grayText;
}
#u867 {
  position:absolute;
  left:88px;
  top:40px;
  width:232px;
  height:40px;
}
#u867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u867_input:disabled {
  color:grayText;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u868 {
  position:absolute;
  left:7px;
  top:281px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u869 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u870 {
  position:absolute;
  left:88px;
  top:283px;
  width:201px;
  height:38px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u871 {
  position:absolute;
  left:0px;
  top:321px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u873 {
  position:absolute;
  left:7px;
  top:321px;
  width:37px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u874 {
  position:absolute;
  left:0px;
  top:12px;
  width:37px;
  white-space:nowrap;
}
#u875 {
  position:absolute;
  left:88px;
  top:322px;
  width:201px;
  height:38px;
}
#u875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u876 {
  position:absolute;
  left:0px;
  top:361px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u878 {
  position:absolute;
  left:7px;
  top:362px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u879 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u880 {
  position:absolute;
  left:88px;
  top:363px;
  width:201px;
  height:38px;
}
#u880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u881 {
  position:absolute;
  left:7px;
  top:120px;
  width:25px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u882 {
  position:absolute;
  left:0px;
  top:12px;
  width:25px;
  white-space:nowrap;
}
#u883 {
  position:absolute;
  left:88px;
  top:131px;
  width:100px;
  height:18px;
}
#u884 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u883_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u885 {
  position:absolute;
  left:7px;
  top:241px;
  width:25px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u886 {
  position:absolute;
  left:0px;
  top:12px;
  width:25px;
  white-space:nowrap;
}
#u887 {
  position:absolute;
  left:88px;
  top:252px;
  width:100px;
  height:18px;
}
#u888 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u887_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u889 {
  position:absolute;
  left:0px;
  top:281px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u890 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u891 {
  position:absolute;
  left:0px;
  top:402px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u892 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u893 {
  position:absolute;
  left:7px;
  top:402px;
  width:25px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u894 {
  position:absolute;
  left:0px;
  top:12px;
  width:25px;
  white-space:nowrap;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:21px;
  top:439px;
  width:66px;
  height:66px;
}
#u896 {
  position:absolute;
  left:2px;
  top:26px;
  width:62px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u897 {
  position:absolute;
  left:0px;
  top:515px;
  width:320px;
  height:21px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u898 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 101, 105, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u901 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u902 {
  position:absolute;
  left:118px;
  top:25px;
  width:83px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u904 {
  position:absolute;
  left:7px;
  top:22px;
  width:19px;
  height:19px;
}
#u905 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
