body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:657px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:657px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u941 {
  position:absolute;
  left:2px;
  top:320px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942 {
  position:absolute;
  left:0px;
  top:49px;
  touch-action:none;
}
#u942_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u942_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:0px;
  top:55px;
  width:320px;
  height:507px;
}
#u944 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u946 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u947 {
  position:absolute;
  left:7px;
  top:55px;
  width:37px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u948 {
  position:absolute;
  left:0px;
  top:12px;
  width:37px;
  white-space:nowrap;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u949 {
  position:absolute;
  left:0px;
  top:95px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u951 {
  position:absolute;
  left:7px;
  top:96px;
  width:25px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u952 {
  position:absolute;
  left:0px;
  top:12px;
  width:25px;
  white-space:nowrap;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u953 {
  position:absolute;
  left:0px;
  top:136px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u955 {
  position:absolute;
  left:7px;
  top:136px;
  width:37px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u956 {
  position:absolute;
  left:0px;
  top:12px;
  width:37px;
  white-space:nowrap;
}
#u957 {
  position:absolute;
  left:88px;
  top:138px;
  width:201px;
  height:38px;
}
#u957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u958 {
  position:absolute;
  left:0px;
  top:55px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u960 {
  position:absolute;
  left:0px;
  top:177px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u961 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u962 {
  position:absolute;
  left:7px;
  top:177px;
  width:25px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u963 {
  position:absolute;
  left:0px;
  top:12px;
  width:25px;
  white-space:nowrap;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u964 {
  position:absolute;
  left:0px;
  top:217px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u966 {
  position:absolute;
  left:7px;
  top:217px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u967 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u968 {
  position:absolute;
  left:0px;
  top:296px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u970 {
  position:absolute;
  left:0px;
  top:296px;
  width:320px;
  height:26px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u971 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u972 {
  position:absolute;
  left:0px;
  top:257px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u974 {
  position:absolute;
  left:7px;
  top:257px;
  width:61px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u975 {
  position:absolute;
  left:0px;
  top:12px;
  width:61px;
  white-space:nowrap;
}
#u976 {
  position:absolute;
  left:88px;
  top:55px;
  width:232px;
  height:40px;
}
#u976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u976_input:disabled {
  color:grayText;
}
#u977 {
  position:absolute;
  left:88px;
  top:96px;
  width:232px;
  height:40px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u977_input:disabled {
  color:grayText;
}
#u978 {
  position:absolute;
  left:88px;
  top:177px;
  width:232px;
  height:40px;
}
#u978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u978_input:disabled {
  color:grayText;
}
#u979 {
  position:absolute;
  left:88px;
  top:217px;
  width:232px;
  height:40px;
}
#u979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u979_input:disabled {
  color:grayText;
}
#u980 {
  position:absolute;
  left:88px;
  top:257px;
  width:232px;
  height:40px;
}
#u980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u980_input:disabled {
  color:grayText;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u981 {
  position:absolute;
  left:0px;
  top:322px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u982 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u983 {
  position:absolute;
  left:7px;
  top:322px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u984 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u985 {
  position:absolute;
  left:0px;
  top:401px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u987 {
  position:absolute;
  left:0px;
  top:362px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u989 {
  position:absolute;
  left:7px;
  top:362px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u990 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u991 {
  position:absolute;
  left:88px;
  top:322px;
  width:232px;
  height:40px;
}
#u991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u991_input:disabled {
  color:grayText;
}
#u992 {
  position:absolute;
  left:88px;
  top:362px;
  width:232px;
  height:40px;
}
#u992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u992_input:disabled {
  color:grayText;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u993 {
  position:absolute;
  left:7px;
  top:402px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u994 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u995 {
  position:absolute;
  left:88px;
  top:404px;
  width:201px;
  height:38px;
}
#u995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u996 {
  position:absolute;
  left:0px;
  top:481px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u998 {
  position:absolute;
  left:0px;
  top:442px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1000 {
  position:absolute;
  left:7px;
  top:442px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u1002 {
  position:absolute;
  left:88px;
  top:442px;
  width:232px;
  height:40px;
}
#u1002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1002_input:disabled {
  color:grayText;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1003 {
  position:absolute;
  left:7px;
  top:482px;
  width:37px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:12px;
  width:37px;
  white-space:nowrap;
}
#u1005 {
  position:absolute;
  left:88px;
  top:484px;
  width:201px;
  height:38px;
}
#u1005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:522px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1008 {
  position:absolute;
  left:7px;
  top:523px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u1010 {
  position:absolute;
  left:88px;
  top:525px;
  width:201px;
  height:38px;
}
#u1010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:563px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:562px;
  width:320px;
  height:29px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1015 {
  position:absolute;
  left:7px;
  top:0px;
  width:49px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  white-space:nowrap;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1017 {
  position:absolute;
  left:88px;
  top:9px;
  width:22px;
  height:22px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1019 {
  position:absolute;
  left:120px;
  top:0px;
  width:25px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:12px;
  width:25px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:39px;
  width:320px;
  height:1px;
  font-family:'PingFang PC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 101, 105, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1026 {
  position:absolute;
  left:118px;
  top:25px;
  width:83px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1028 {
  position:absolute;
  left:7px;
  top:22px;
  width:19px;
  height:19px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
